.customButton {
  border-radius: 0.25em;
  padding: 1em 1.5em;
  border: 0.1em solid #111;
  margin: 1em;
  color: #111;
  text-align: center;
  &:hover {
    color: #000000;
    background-color: #ffffff;
  }
}
